.cont{
    margin: auto;
    width: 90%;
    min-height:60% ;
    box-shadow: 0px 0px 20px rgba(84, 84, 84, 0.4);
}

/* for manage users */
.table {
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  }
  
  .container {
    max-width: 900px;
    height: 100% !;
  }
  .rp:hover{
    color: white !important;
  }
  