.cont{
    margin: auto;
    width: 60%;
    min-height:60% ;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
    
}
.pf{
    font-size: clamp(0.85rem, 1.8vw, 1.1rem);
}
.hf{
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    font-weight: bold;
}
  
  .card-body .row > div {
    transition: transform 0.2s ease;
    text-wrap: wrap;
  }
  .card-body .row > div:hover {
    transform: translateY(-2px);
  }
  